@import "../../../mics/predpro/style";
@import "./components/text";
@import "./components/header";
@import "./components/footer";
@import "./components/btn";
@import "./components/prop";
@import "../../../../../node_modules/swiper/dist/css/swiper.css";
@import "../../../../../node_modules/@fancyapps/fancybox/src/css/core.css";
@import "../../../../../node_modules/font-awesome/scss/font-awesome";
@import '../../../../../node_modules/jquery-ui/themes/base/all.css';
@import '../../../../../node_modules/swiper/dist/css/swiper.min.css';

body {
    background-color: #6B6C6D;
    font-family: Arial;
}

.container {
    width: 1020px;
    max-width: 95%;
    margin: 0 auto;
    @include sm-block() {
        max-width: 90%;
    }

    &-mini {
        width: 834px;
    }

    @include sm-block() {
        max-width: 95%;
    }
}

.logo {
    img {
        @include rem(width, 177px);
    }
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    &_main {
        display: flex;
        justify-content: flex-end;
    }
}

.head {
    color: #fff;
    @include rem(padding-top, 100px);

    &_h1 {
        @include rem(margin-bottom, 10px);
    }

    &_after {
        @include rem(line-height, 21px);
    }
}

.section {
    @include rem(margin-top, 30px);

    &-end {
        @include rem(margin-bottom, 141px);
    }
}

.footer {
    @include rem(padding-top, 21px);
    @include rem(padding-bottom, 36px);
    @include rem(padding-left, 87px);
    box-sizing: border-box;
    color: #fff;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 16px;
    position: relative;
    @include sm-block() {
        padding: 2rem 1rem;
    }

    &_main {
        width: 100%;
        @include rem(height, 88px);
        @include sm-block() {
            height: auto;
        }
    }
}

.text-container {
    @include rem(padding-top, 34px);
    @include rem(padding-left, 20px);
    display: flex;
    flex-wrap: wrap;
    @include sm-block() {
        @include rem(padding-left, 15px);
        @include rem(padding-right, 15px);
        padding-top: 0;
    }

    &-tho {
        flex-direction: column;
        flex-wrap: nowrap;
        @include rem(padding-top, 153px);
        @include rem(padding-left, 356px);

        .list {
            top: 0;
            @include rem(padding-top, 10px);

            .list_it + .list_it {
                margin-top: 1rem;
            }
        }
    }
}


.text-item {
    @include rem(width, 287px);
    @include rem(padding-right, 14px);

    @include sm-block() {
        width: 100%;
        padding-right: 0;
        padding-top: 2rem;
    }

    &_head {
        color: #CE3532;
        @include rem(padding-bottom, 7px);
        font-weight: bold;

        &-thos {
            @include rem(width, 220px);
            @include sm-block() {
                width: 100%;
            }
        }
    }

    &_main {
        @include rem(width, 219px);
        font-weight: bold;
        @include sm-block() {
            width: 100%;
        }

        &-two {
            @include rem(width, 385px);
            @include sm-block() {
                width: 100%;
                padding-right: 0;
            }
            @include rem(padding-bottom, 24px);
            @include rem(padding-right, 15px);
            @include rem(margin-bottom, 14px);
            border-bottom: 1px solid #2A2A29;

        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -0.5rem;

    &_it {
        display: flex;
        align-items: center;

        .text {
            width: 50%;
            flex-grow: 2;
        }

        &:before {
            content: '';
            display: flex;
            @include rem(width, 8px);
            @include rem(height, 8px);
            @include rem(margin-right, 8px);
            background: #CE3532;
            border-radius: 100%;
        }

        .text {
            text-transform: uppercase;
            font-weight: bold;
        }

        & + & {
            margin-top: 0.5rem;
        }
    }
}


.end_text {
    @include rem(padding-top, 10px);
    @include rem(margin-top, 20px);
    border-top: 1px solid #2A2A29;
    @include rem(width, 385px);
    @include sm-block() {
        width: 100%;
    }

    .text {
        line-height: 145%;
    }

}

.hed-text {
    @include rem(padding-top, 35px);
    @include rem(padding-bottom, 19px);
    text-align: center;
}

.table {
    @include rem(width, 660px);
    margin: 0 auto;
    @include rem(border-spacing, 5px);
    border-collapse: separate;
    @include sm-block() {
        width: 100%;
    }

    .text-s26 {
        @include sm-block() {
            font-size: 0.75rem;
        }
    }

    td {
        background: #EAEDED;
        @include rem(padding, 5px 20px);
        @include sm-block() {
            @include rem(padding, 10px 20px);
            padding-right: 0;
        }
        color: #2A2A29;

        &:nth-child(2) {
            @include rem(width, 167px);
            @include rem(padding, 5px 23px);
            @include sm-block() {
                @include rem(width, 70px);
            }
        }
    }
}

.footer-text {
    @include rem(width, 325px);
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    @include rem(padding-top, 15px);
    @include rem(padding-bottom, 28px);
}

.img-control {
    @include sm-block() {
        .prop_img {
            position: relative;
            padding-top: 0;
        }
        .list {
            top: 0;
            margin-top: 1rem;
        }
        .prop_img_src {
            background-size: 101%;
            padding-top: 14rem;
            background-repeat: no-repeat;
            background-color: #fff;
            background-position: top;
            position: relative;
            padding-bottom: 1rem;
        }
    }
}


.new-block {
    @include sm-block() {
        .prop_img {
            position: relative;
            padding-top: 0;
        }
        .list {
            top: 0;
            margin-top: 1rem;
        }
        .prop_img_src {
            background-size: 101%;
            padding-top: 14rem;
            background-repeat: no-repeat;
            background-color: #fff;
            background-position: top;
            position: relative;
            padding-bottom: 1rem;
        }
        .text-container-tho {
            padding-top: 0;
            padding-left: 0;
            box-sizing: border-box;
            padding: 0 0.5rem;
        }
    }
}

.table-block {
    @include sm-block() {
        padding: 0 0.25rem;
        box-sizing: border-box;
    }
}
