.btn {
    cursor: pointer;
    outline: 0;
    border: none;
    background: none;

    &-def {
        border-radius: 16px;
        background-color: #c1d6f1;
        padding: 0.2rem 1.8rem;
        @include rem(letter-spacing, -1px);
        font-weight: bold;
        color: #000;
        @include sm-block() {
            padding: 0.5rem 1.8rem;
        }

        &:hover {
        }

        &:active {

        }
    }

    &-link {
        position: absolute;
        @include rem(width, 206px);
        @include rem(height, 35px);
        @include rem(border-radius, 35px);
        background: #CE3532;
        display: flex;
        align-items: center;
        justify-content: center;
        @include rem(right, 223px);
        @include rem(bottom, 29px);
        z-index: 10;
        @include sm-block() {
            position: relative;
            right: auto;
            bottom: 0;
            margin-top: 1rem;
        }
    }

}
