.header {

    .soc, .nav {
        @include sm-block() {
            display: none;
        }
    }

    .soc {
        display: flex;
        align-items: center;
        margin-left: 0rem;

        @include sm-block() {
            display: none;
        }

        a {
            img {
                width: 100%;
            }
        }
    }

    &_main {

        &_desk {
            display: flex;
            align-items: center;
            @include rem(padding, 33px 0);

            @include sm-block() {
                justify-content: space-between;
            }
        }
    }
}

.nav {
    @include rem(margin-left, auto);
    margin-right: 2.5rem;

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include rem(margin-left, -25px);

        li {
            display: flex;
            align-items: flex-end;
            @include rem(margin-left, 30px);
            font-weight: 400;

            a {
                display: flex;
                align-items: flex-end;
            }

            span {
                line-height: 100%;
                font-weight: bold;
                @include rem(letter-spacing, -1.34px);
            }

            img {
                margin-right: 0.7rem;
                @include rem(width, 24px);
            }


        }
    }
}



.langs {
    margin-left: 1.5rem;
    @include sm-block() {
        margin-left: 0rem;
    }

    .text-s16 {
        @include sm-block() {
            font-size: 2rem;
        }
    }
}


.soc {
    @include rem(margin-left, auto);
    @include rem(padding-top, 5px);
    display: flex;
    flex-wrap: wrap;

    a {
        @include rem(width, 32px);
    }

    a + a {
        @include rem(margin-left, 20px);
    }
}



.menu_click {
    display: none;
    @include sm-block() {
        width: 4rem;
        height: 3.5rem;
        display: flex;

    }
}


.menu_icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        width: 4rem;
        height: 5px;
        background-color: #676767;
        @include rem(border-radius, 52px);
        overflow: hidden;
    }
}




.menu_block {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav ul li img {
        width: 2rem;
        margin-right: 1.5rem;
    }

    .text-s16 {
        font-size: 2rem;
    }

    .soc a {
        width: 4rem;
    }

    .nav {
        margin: auto;
        margin-top: 5rem;

        ul {
            display: flex;
            flex-direction: column;

            li + li {
                margin-top: 4rem;
            }
        }
    }

    .soc {
        margin: auto;
        margin-top: 5rem;
    }
}

.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4rem;
}



a {
    text-decoration: none;
    color: inherit;
}


body {
    @include sm-block() {
        &.body_menu_open {
            .menu {
                visibility: visible;
                transform: translateX(0%);
            }

            main {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
            }
        }
    }
}
