.btn {
    cursor: pointer;
    outline: 0;
    border: none;
    background: none;

    &-def {
        border-radius: 16px;
        background-color: #c1d6f1;
        padding: 0.2rem 1.8rem;
        @include rem(letter-spacing, -1px);
        font-weight: bold;
        color: #000;
        @include sm-block() {
            padding: 0.5rem 1.8rem;
        }

        &:hover {
        }

        &:active {

        }
    }

    &-link {
        position: relative;
        @include rem(width, 341px);
        @include rem(height, 46px);

        background: #ED3237;
        border: 6px solid #996666;
        border-radius: 53px;
        @include rem(border-radius, 35px);
        display: flex;
        align-items: center;
        justify-content: center;
        @include rem(right, 45px);
        z-index: 10;
        background-image: url("/public/media/client/images/next_btn.png");
        @include rem(background-size, 20px);
        background-position: right 1rem center;
        background-repeat: no-repeat;

        &-new {
            right: 0;
            margin: auto;
            margin-right: 5rem;
            @include sm-block() {
                margin-right: auto;
                margin-lefT: 0;
            }
        }

        &:before {
            content: '';
            position: absolute;
            left: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            background-image: url("/public/media/client/images/bewtokabet.png");
            background-repeat: no-repeat;
            @include rem(width, 33px);
            @include rem(height, 34px);
            background-size: contain;
        }

        @include sm-block() {
            position: relative;
            right: auto;
            bottom: 0;
            margin-top: 1rem;
        }

        &-un {
            background-image: none;
            width: 100%;

            &:before {
                display: none;
            }
        }
    }

}

.btn-stop {
    @include rem(width, 415px);
    @include rem(height, 95px);
    background: #FFFFFF;
    border: 0.55rem solid #F2F3F2;
    @include rem(border-radius, 53px);
    color: #ED3237;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-weight: 900;
    background-image: url("/public/media/client/images/btn-nn.png");
    @include rem(background-size, 62px);
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    padding-left: 3rem;
    @include rem(margin-bottom, 0px);
    @include sm-block() {
        //width: 100%;
    }

    .text {
        line-height: 130%;
    }
}
