$mapSize: (
    main: (70, 65),
);
//1400: ((s120: 72, s24: 16, s48:28), "rem", 18),
//780: ((s120: 96, s48: 36), "rem", 16),


.prop {
    width: 100%;

    &_img {
        width: 100%;
        position: relative;

        &-50 {
            @include sm-block() {
                padding-top: 140% !important;
            }
        }

        &-44 {
            @include sm-block() {
                padding-top: 75% !important;
            }
        }

        &_src {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            display: flex;
            flex-direction: column;
        }

        @each $key, $sizeStap in $mapSize {
            @if ($key=="main") {
                @each $size in $sizeStap {

                    &-#{$size} {
                        padding-top: #{$size+"%"};
                    }
                    &-#{$size}vh {
                        padding-top: #{$size+"vh"};
                    }
                }
            }
        }

    }
}
