$mapSize: (
    main: ((s32:32, s18:18, s10:12, s11:11, s17:17, s19:19, s20:20, s26:26, s33:33, s34:34, s27:27, s55:55), "rem", 18),
    780: ((s17:22, s10:15, s20:25, s19:24), "rem", 18),
);
//1400: ((s120: 72, s24: 16, s48:28), "rem", 18),
//780: ((s120: 96, s48: 36), "rem", 16),
$mainSize: 1920;

@function parseInt($n) {
    /* 2 */
    @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
    $px: (); /* 3 */
    $rem: (); /* 3 */

    @each $value in $values {
        /* 4 */

        @if $value == 0 or $value == auto {
            /* 5 */
            $px: append($px, $value);
            $rem: append($rem, $value);
        } @else {
            $unit: unit($value); /* 6 */
            $val: parseInt($value); /* 6 */

            @if $unit == 'px' {
                /* 7 */
                $px: append($px, $value);
                $rem: append($rem, ($val / 18 + rem));
            }

            @if $unit == 'rem' {
                /* 7 */
                $px: append($px, ($val * 18 + px));
                $rem: append($rem, $value);
            }
        }
    }

    @if $px == $rem {
        /* 8 */
        #{$property}: $px; /* 9 */
    } @else {
        #{$property}: $px; /* 9 */
        #{$property}: $rem; /* 9 */
    }
}

html {
    //font-size: 18px;
    //font-size: 1.250vw;
    font-size: 1vw;
    //font-size: 0.928vw;
    //@include w1420-block() {
    //    font-size: 1.208vw;
    //}
    @include sm-block() {
        font-size: 2.308vw;
    }

}


h2.text {
    font-weight: bold;
    letter-spacing: 0.9px;
}


.text {

    font-family: 'Roboto', sans-serif;


    &-sf {
        font-family: 'SF Pro Display';
    }

    @each $key, $sizeStap in $mapSize {
        @if ($key=="main") {
            @each $stapSize, $size in nth($sizeStap, 1) {
                &-#{$stapSize} {
                    @if (nth($sizeStap, 2)=="vw") {
                        font-size: #{$size/($mainSize/100)}vw;
                    } @else {
                        font-size: #{$size/nth($sizeStap, 3)}rem;
                    }
                }
                &-#{$stapSize}vw {
                    font-size: #{$size/($mainSize/100)}vw;
                }

            }
        } @else {
            @media screen and (max-width: #{$key}px) {
                @each $stapSize, $size in nth($sizeStap, 1) {
                    &-#{$stapSize} {
                        @if (nth($sizeStap, 2)=="vw") {
                            font-size: #{$size/($key/100)}vw;
                        } @else {
                            font-size: #{$size/nth($sizeStap, 3)}rem;
                        }
                    }
                    &-#{$stapSize}vw {
                        font-size: #{$size/($key/100)}vw;
                    }
                }
            }
        }
    }
}

