@import "../../../mics/predpro/style";
@import "./components/text";
@import "./components/header";
@import "./components/footer";
@import "./components/btn";
@import "./components/prop";
@import "../../../../../node_modules/swiper/dist/css/swiper.css";
@import "../../../../../node_modules/@fancyapps/fancybox/src/css/core.css";
@import "../../../../../node_modules/font-awesome/scss/font-awesome";
@import '../../../../../node_modules/jquery-ui/themes/base/all.css';
@import '../../../../../node_modules/swiper/dist/css/swiper.min.css';

body {
    background-color: #6c6c6c;
    font-family: Arial;
}

.container {
    @include rem(padding, 0 0px);
    @include rem(width, 1480px);
    //@include rem(padding, 0 80px);
    box-sizing: border-box;
    margin: auto;
    @include sm-block() {
        width: 100%;
        //@include rem(padding, 0 30px);
        @include rem(padding, 0 30px);
    }
}

.logo {
    position: absolute;
    right: 0;
    top: 0;
    @include sm-block() {

    }

    img {
        @include rem(width, 225px);
        //@include sm-block() {
        //    @include rem(width, 125px);
        //}
    }
}


.head {
    color: #fff;
    background-color: #6C6C6C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include rem(padding, 12px 0px);
    @include rem(padding-bottom, 35px);
}

.section {

    &-end {
        @include rem(margin-bottom, 34px);
        @include rem(padding-top, 40px);
    }
}

.footer {
    @include rem(padding, 40px 77px);
    @include rem(padding-right, 45px);
    box-sizing: border-box;
    color: #fff;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 16px;
    position: relative;
    @include sm-block() {
        @include rem(padding, 30px);
    }

    &_main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-grow: 2;
        p {
            width: 100%;
            flex-grow: 2;
        }

        @include sm-block() {
            height: auto;
        }
    }
}
.folinsa{
    flex-grow: 2;
}

.text-container {
    @include rem(padding-top, 34px);
    display: flex;
    flex-wrap: wrap;

    &-man {
        position: relative;

        .bkimg-def {
            content: '';
            position: absolute !important;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("/public/media/client/images/man.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right 6.722222222222222rem bottom;
            z-index: 0 !important;
        }

        @include sm-block() {
            padding-bottom: 17rem !important;
            background-size: 24rem !important;
            background-position: right bottom;
        }
    }

    &-scrimer {


        background: linear-gradient(0deg, #DCDCDB 0%, rgba(255, 255, 255, 0) 25%), linear-gradient(0deg, #F0F0EE, #F0F0EE), #2B2C30;
        @include rem(padding, 63px 83px);
        @include rem(margin-top, 50px);
        box-sizing: border-box;
        position: relative;

       .bkimg-def {
            content: '';
            position: absolute !important;
            lefT: 0;
            top: 0;
            background-image: url("/public/media/client/images/scrimer.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left bottom;
            @include rem(background-size, 552px);
            width: 100%;
            height: 100%;
           z-index: 1 !important;
        }


        @include rem(padding-left, 603px);
        @include rem(padding-top, 134px);
        @include rem(padding-bottom, 83px);
        @include sm-block() {
            @include rem(padding, 0px 30px);
            padding-bottom: 33rem;
            background-size: 25rem;
        }

        .text-item_main-two {
            border-bottom: none;
        }

        .text-item_main {
            @include rem(padding-bottom, 25px);
        }

        h2 {
            @include rem(padding-top, 25px);
        }

        .list {
            @include rem(padding-top, 25px);
        }

        .list {
            padding-bottom: 0;
        }
    }

    &-tho {
        flex-direction: column;
        flex-wrap: nowrap;
        @include rem(padding-top, 66px);

    }
}


.text-item {
    @include rem(width, 287px);
    @include rem(padding-right, 14px);

    @include sm-block() {
        width: 100%;
        padding-right: 0;
        padding-top: 2rem;
    }

    &_head {
        color: #CE3532;
        @include rem(padding-bottom, 28px);


        &-thos {
            @include rem(width, 630px);
            @include sm-block() {
                width: 100%;
            }
        }
    }

    &_main {
        @include rem(width, 219px);
        font-weight: bold;
        @include rem(padding-bottom, 38px);
        @include sm-block() {
            width: 100%;
        }

        &-two {
            @include rem(width, 740px);
            @include sm-block() {
                width: 100%;
                padding-right: 0;
            }
            border-bottom: 3px solid #2A2A29;

        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    position: relative;
    @include rem(padding-top, 40px);
    @include rem(padding-bottom, 40px);

    &_it {
        display: flex;
        align-items: center;

        .text {
            width: 50%;
            flex-grow: 2;
        }

        &:before {
            content: '';
            display: flex;
            @include rem(width, 16px);
            @include rem(height, 16px);
            @include rem(margin-right, 20px);
            background: #CE3532;
            border-radius: 100%;
        }

        .text {
            text-transform: uppercase;
            font-weight: bold;
        }

        & + & {
            @include rem(margin-top, 22px);
        }
    }
}


.end_text {
    @include rem(padding-top, 10px);
    @include rem(margin-top, 20px);
    border-top: 3px solid #2A2A29;
    @include rem(width, 740px);
    @include rem(margin-bottom, 37px);
    @include sm-block() {
        width: 100%;
    }

    .text {
        line-height: 145%;
    }

}

.hed-text {
    text-align: left;
    @include rem(padding-bottom, 35px);
}

.table {
    margin: 0 auto;
    @include sm-block() {
        width: 100%;
    }

}

.footer-text {
    @include rem(width, 325px);
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    @include rem(padding-top, 45px);
    @include rem(padding-bottom, 30px);
}

.img-control {
    @include sm-block() {
        .prop_img {
            position: relative;
            padding-top: 0;
        }

        .prop_img_src {
            background-size: 101%;
            padding-top: 14rem;
            background-repeat: no-repeat;
            background-color: #fff;
            background-position: top;
            position: relative;
            padding-bottom: 1rem;
        }
    }
}


.new-block {
    .container > div {
        position: relative;
        z-index: 5;
    }

    @include sm-block() {

        .text-container-man {
            .bkimg-def {
                background-repeat: no-repeat;
                background-position: right -3rem bottom;
                background-size: 23rem;
            }

            padding-bottom: 27rem !important;
            padding-top: 4rem !important;
        }
    }

    &-one {
        .text-container {
            background: linear-gradient(0deg, #E8EAE9, #E8EAE9), #2B2C30;
            @include rem(padding, 63px 83px);
            box-sizing: border-box;
            position: relative;
        }

        @include sm-block() {
            padding-top: 4rem;
        }
    }

    &-tws {
        //background: linear-gradient(0deg, #DCDCDB 0%, rgba(255, 255, 255, 0) 25%), linear-gradient(0deg, #F0F0EE, #F0F0EE), #2B2C30;
        //background-image: url("/public/media/client/images/main.png");
        //background-size: 100% 100%;
        .text-container {

        }
        @include sm-block() {

        }
        .text-container-scrimer {
            @include sm-block() {
                padding-top: 9rem;
                margin-top:0 !important;
                padding-bottom: 40rem;
            }
        }
    }

    @include sm-block() {
        .prop_img {
            position: relative;
            padding-top: 0;
        }

        .prop_img_src {
            background-size: 101%;
            padding-top: 14rem;
            background-repeat: no-repeat;
            background-color: #fff;
            background-position: top;
            position: relative;
            padding-bottom: 1rem;
        }
        .text-container-tho {
            padding-top: 0;
            padding-left: 0;
            box-sizing: border-box;
            @include rem(padding, 0 30px);
        }
    }
}

.table-block {
    background-color: #dddddc;
    @include rem(margin-top, 50px);
    @include sm-block() {
        padding: 2.5rem 0.25rem;
        box-sizing: border-box;
        margin-top: 0;
    }
    @include rem(padding, 61px 81px);


}

.main_table {
    width: 100%;
    background: #C4C4C4;
    box-sizing: border-box;
    @include rem(padding, 63px 96px);
    @include rem(border-radius, 21px);
    @include sm-block() {
        @include rem(padding, 30px 30px);
    }
}

.text-price {
    p {
        padding: 0.25rem 0;
        display: flex;
        width: 100%
    }
}

.footer-text {
    width: 100%;
    background-color: #dddddc;


    &_main {
        width: 100%;
    }
}


.icon-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include rem(margin-top, 26px);
    @include rem(margin-bottom, 26px);
}

.img-icon {
    @include rem(width, 96px);

    & + & {
        @include rem(margin-left, 12px);
    }
}

.footer-text-end {

}

.footer_after {
    @include rem(margin-bottom, 33px);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #fff;

    .textblas {
        width: 50%;
        flex-grow: 2;
    }
}

.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.soc {
    img {
        @include rem(width, 45px);
        @include rem(height, 45px);
    }

    & + & {
        margin-left: 1.5rem;
    }
}

strong {
    font-weight: bold;
}

.video_yy {
    position: absolute;
    right: 0;
    top: 0;
    @include rem(width, 244px);
    @include rem(height, 187px);
    background-size: cover;
}

.video_yy {
    @include sm-block() {

    }
}

.footesad {
    background-color: #6B6C6D;
    width: 100%;
    border: 1px solid #6B6C6D;
    box-sizing: border-box;
}

.form_main {
    padding: 0;
    padding: 1.5rem;
    padding-top: 1.5rem;
    width: 400px;
    max-width: 100%;
}

.input {

    &_lab {

    }

    &_in {
        background-color: #e8e8e8;
        padding: 0.5rem;
        border: 1px solid #ccc;
        margin-top: 0.5rem;
        width: 100%;
    }

    & + & {
        margin-top: 1.5rem;
    }
}
